<a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">{{ personObject.name }}</h4>
    <p class="list-group-item-text">
        {{ fullAddressFunction({ aperson: personObject }) }}
    </p>
</a>