<label>Search</label>
<input type="text" value="Cruz" />

<h3>Search Results</h3>
<div class="list-group">
    <search-result person-object="person" full-address-function="fullAddress(aperson)"></search-result> 
</div>