<label>Search</label>
<input type="text" value="Cruz"/>

<h3>Search Results</h3>

<div class="list-group">
	<search-result></search-result>
	<search-result></search-result>
	<search-result></search-result>
	<search-result></search-result>
	<search-result></search-result>

</div>