<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
    <head>
        <title>Learn and Understand AngularJS</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <style>
            html, body, input, select, textarea
            {
                font-size: 1.05em;
            }
        </style>
        
        <!-- load angular via CDN -->
        <script src="https://code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>

        <header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">AngularJS</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
				</ul>
			</div>
			</nav>
		</header>

        <div class="container">

            <div ng-controller="mainController">
            
                <div>
                    <label>What is your BitBucket handle?</label>
                    <input type="text" ng-model="handle" />
                </div>
                
                <div class="alert" ng-class="{ 'alert-warning': handle.length<characters, 'alert-danger': handle.length>characters }" ng-hide="handle.length === characters">
                    
                    <div ng-show="handle.length < characters">
                        You have less than 5 characters!
                    </div>
                    <div ng-show="handle.length > characters">
                        You have more than 5 characters!
                    </div>
                    
                </div>
                
                <div class="alert" ng-class="{ 'alert-success':handle.length===characters }" ng-show="handle.length === characters">
                
                    5 characters!!
                
                </div>
                
                <hr />
                
                <h1 ng-cloak>twitter.com/{{ lowercasehandle() }}</h1>
                
                <hr />
                
                <h3>Rules</h3>
                
                <ul>
                    <li ng-repeat="rule in rules">
                        {{ rule.rulename}}
                    </li>
                </ul>
                
                
                
            </div>
            
		</div>

    </body>
</html>












